# files related to build
build/
.cache/

# do not track compiled documentation files
doc/

# build files for examples
examples/build/

# misc IDE stuff
secure-computation-library.*
compile_commands.json
