:root {
    --code-bar-color: #CBDCEB;
    --item-bar-color: #6D94C5;
}

* {
    font-size: 13px;
}

p {
    font-family: sans-serif;
    text-align: justify;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

/* removes the "Description" header on documentation pages
 * see: https://stackoverflow.com/a/19832498
 */
a + h2.groupheader {
    display: none;
}

tr[class^="memdesc"] {
    box-shadow: none;
}

tr.heading + tr[class^="memitem"] td.memItemLeft, tr.groupHeader + tr[class^="memitem"] td.memItemLeft, tr.inherit_header + tr[class^="memitem"] td.memItemLeft {
    border-top: none;
}

tr.heading + tr[class^="memitem"] td.memItemRight, tr.groupHeader + tr[class^="memitem"] td.memItemRight, tr.inherit_header + tr[class^="memitem"] td.memItemRight {
    border-top: none;
}

.fragment {
    border-style: none none none solid;
    border-width: 10px;
    border-color: var(--code-bar-color);
    background-color: transparent;
}

.mdescLeft, .mdescRight {
    padding: 0px 0px 10px 0px;
}

.memItemLeft {
    text-align: right;
}

.memItemLeft, .memItemRight, .mdescLeft, .mdescRight, .memTemplParams {
    background-color: transparent;
    border-style: none;
}

.memItemLeft, .mdescLeft, .memTemplParams {
    padding: 2px 0px 0px 10px;
    border-style: none none none solid;
    border-width: 10px;
    border-color: var(--item-bar-color);
}

tr.inherit {
    display: flex;
}

span.lineno {
    line-height: 1.3;
}
